<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="My TCS">
        <classes>
            <class name="tests.LoginScenario"/>
            <class name="tests.RegistrationScenario"/>
            <class name="tests.MyAccountScenario"/>
            <class name="tests.ProductsAndCheckout"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->